/* CSS goes here */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #78cfc1;
}

/* Hero Section */
header {
    background-color: #3498db;
    color: white;
    padding: 50px 0;
    text-align: center;
}

/* About Me Section */
section:nth-of-type(1) {
    background-color: #f1c40f;
    color: white;
    padding: 50px 0;
}

/* Projects Section */
section:nth-of-type(2) {
    background-color: #2ecc71;
    color: white;
    padding: 50px 0;
}

/* Skills Section */
section:nth-of-type(3) {
    background-color: #e67e22;
    color: white;
    padding: 50px 0;
}

/* Contact Section */
footer {
    background-color: #e74c3c;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.mySkill {
    font-size: 30px;
}

.skillSec li {
    list-style: none;
    margin-top: 20px;
}

.skillSec {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 40px;
}

.skill {
    padding: 10px 20px;
    background-color: #3498db;
    font-size: 24px;
    font-weight: 700;
    border-radius: 5px 400px 5px 400px;
}